.PokeStampCanvas {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: lightsalmon;
  overflow: hidden;
  z-index: 0;
}

.PokeClickBox {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
  z-index: 2;
}

.Poke {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.StampButtons {
  display: flex;
  width: 600px;
  z-index: 3;
}
.StampButton {
  flex: auto;
  border: 1px solid transparent;
  background-color: honeydew;
  color: blueviolet;
  height: 25px;
}
.StampButton:disabled {
  flex: auto;
  border: 1px solid transparent;
  background-color: rgba(188, 188, 188, 0.929);
  color: rgb(231, 214, 247);
  height: 25px;
}
.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 600px;
  height: 600px;
}
.GaleryCell {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 150px;
  height: 150px;
  display: flex;
  text-align: center;
}
.GalleryLink {
  position: absolute;
  display: inherit;
  align-content: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: inherit;
  height: inherit;
}
.ImageLabel {
  color: bisque;
  margin: 0px;
  opacity: 5%;
  font-size: 150px;
  position: absolute;
  text-align: center;
  z-index: 3;
}
.ImageLabel:hover {
  z-index: 0;
}

.LoadedImgs {
  position: absolute;
  width: inherit;
  height: inherit;
}
.LoadedImgs:hover {
  z-index: 4;
}
