.PokeStampCanvas {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: lightsalmon;
  overflow: hidden;
  z-index: 0;
}

.PokeClickBox {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
  z-index: 2;
}

.Poke {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.StampButtons {
  display: flex;
  width: 600px;
  z-index: 3;
}
.StampButton {
  flex: auto;
  border: 1px solid transparent;
  background-color: honeydew;
  color: blueviolet;
  height: 25px;
}
.StampButton:disabled {
  flex: auto;
  border: 1px solid transparent;
  background-color: rgba(188, 188, 188, 0.929);
  color: rgb(231, 214, 247);
  height: 25px;
}
