* {
  margin: 0;
  padding: 0;
}
.Gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 600px;
  height: 600px;
}
.GaleryCell {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 150px;
  height: 150px;
  display: flex;
  text-align: center;
}
.GalleryLink {
  position: absolute;
  display: inherit;
  align-content: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: inherit;
  height: inherit;
}
.ImageLabel {
  color: bisque;
  margin: 0px;
  opacity: 5%;
  font-size: 150px;
  position: absolute;
  text-align: center;
  z-index: 3;
}
.ImageLabel:hover {
  z-index: 0;
}

.LoadedImgs {
  position: absolute;
  width: inherit;
  height: inherit;
}
.LoadedImgs:hover {
  z-index: 4;
}
