.PokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: violet;
  height: 100%;
  width: 250px;
  margin: 0px;
  padding: 0px;
}

.PokeCardImage {
  image-rendering: pixelated;
}

.types {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.foo {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}
